<div class="form-container">
  <%= form_tag sign_in_path, class: 'form' do |f| %>
    <div class="control">
      <%= label_tag :username, nil, class: "label | text-is-white" %>
      <%= text_field_tag :username, nil, class: "input" %>
    </div>
    <%= submit_tag 'log in', class: "form__button | text-is-white" %>
  <% end %>
</div>
