<h1 clasS="title">Articles</h1>
<div class="articles-container">
  <% @articles.each do |art| %>
    <h2 class="title">
      <%= art.title %>
    </h2>
    <div class="content">
      <%= art.content %>
    </div>
    <div>
      <% if art.avatar.attached? %>
        <%= image_tag(url_for(art.avatar)) %>
      <% end %>
      <%= art.avatar.attached? %>
    </div>
  <% end %>
</div>
