.art-card {
  display: grid;
  grid-template-columns:  20% 60% 20%;
  grid-template-rows: auto auto auto 1fr auto;
  grid-gap: 0.75rem;
  padding: 0.75rem;

  &__img {
    grid-column: 2;
  }

  & img {
    display: block;
    margin: 0 auto;
  }

  &__title {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__category {
    font-size: 1.25rem;
  }

  &__likes {
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  &__content {
    grid-column: 2;
    grid-row: 4;
    line-height: 1.5;
  }

  &__author {
    font-size: 2.5ch;

   & span {
      font-weight: bold;
    }
  }
  
  &__footer {
    grid-column: 2;
    grid-row: 5;

    & a {
      color: black;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1.5rem;

    & a {
      color: #fff
    }
  }

  &__button-link {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;

  }
}