.art-card {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto auto auto 1fr auto;
  grid-gap: 0.75rem;
  padding: 0.75rem;
  background: rgb(2,0,36);
background: linear-gradient(39deg, rgba(2,0,36,1) 0%, rgba(126,125,143,0.5046393557422969) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,0.14889705882352944) 100%);

  &__img {
    grid-column: 2;
  }

  & img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &__title {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__category {
    font-size: 1.25rem;
  }

  &__likes {
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  &__content {
    grid-column: 2;
    grid-row: 4;
    line-height: 1.5;
  }

  &__author {
    font-size: 2.5ch;

    & span {
      font-weight: bold;
    }
  }

  &__footer {
    grid-column: 2;
    grid-row: 5;

    & a {
      color: black;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1.5rem;

    & a {
      color: #fff;
    }
  }

  &__button-link {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
  }
}
