.card-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  

}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & img {
    object-fit: fill;
    width: 100%;
  }
}