.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.category-card {
  position: relative;
  height: 42vh;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.65);
  }

  & img {
    width: 100%;
    height: 100%;
  }

  &__name {
    position: absolute;
    top: 0;
    left: 5%;
    width: 25%;
    font-size: 1.5rem;
    color: white;
    margin-top: 0.85rem;
    padding: 0 1.2rem 0.5rem;
    font-weight: bold;
    border-bottom: 3px solid #e6b566;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 2rem;
    color: white;
    margin-bottom: 0.85rem;
    padding: 0 1.2rem 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
