.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0.75rem;
  padding: 0.75rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  height: 50vh;

  & img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  &__info {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 0.5rem;
    padding: 0.75rem;
  }

  &__title {
    font-weight: bold;
    font-size: 1.35rem;
    color: olive;
  }

  &__subtitle {
    font-size: 1.9rem;
    font-weight: bold;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__vote {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__read-more {
    color: orange;
  }
}

.fa-thumbs {
  color: black;
}
