// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .category-container {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);

// }

// .category-container div:first-child {
//   background-color: red;
//   grid-column: span 12;
// }

// .category-container div {
//   grid-column: span 3;
// }
