.form-container {
  width: 100%;
  height: 100%;
  background: url(https://www.framerated.co.uk/frwpcontent/uploads/2020/01/2020_winter_spring_preview-1170x576.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.45);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.form {
  padding: 1.5rem;
  background-color: hsla(240, 100%, 25%, 0.5);
  flex-direction: column;
  position: relative;

  & * + * {
    margin-top: 0.75rem;
  }

  &__button {
    background: rgb(43, 77, 182);
    border: none;
    padding: 0.5rem;
    margin-top: 1.2rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background: rgb(48, 89, 212);
    }
  }
}

.label {
  display: block;
  font-size: 2.8ch;
}

.input,
.input-area,
select {
  width: 100%;
}

.errors_list {
  position: relative;
  color: white;
  margin-bottom: 1.5rem;

  &-item {
    margin-bottom: 0.25rem;
    background-color: hsla(0, 100%, 30%, 0.75);
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
