.form-container {
  width: 100%;
  height: 100%;
  background: url(https://www.framerated.co.uk/frwpcontent/uploads/2020/01/2020_winter_spring_preview-1170x576.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: hsla(0,0%,0%, .45);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.form {
  padding: 1.5rem;
  background-color: hsla(240,100%,25%, 0.5);
  flex-direction: column;
  position: relative;
  
  & *+* {
    margin-top: .5rem;
  }

  &__button {
    background: royalblue;
    border: none;
    padding: .5rem;
  }
}

.label {
  display: block;
  font-size: 2.8ch;
}

.input,
.input-area {
  width: 100%;
}