// .banner {
//   position: relative;
//   height: 100%;

//   &::before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: hsla(0, 0%, 0%, 0.45);
//     z-index: 1;
//   }

//   &__img {
//     width: 100%;
//     height: 100%;
//     object-fit: fill;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }

//   &__content {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     width: 75%;
//     height: 100%;
//     padding: 0 1.5rem;
//     position: relative;
//   }

//   &__content-title {
//     font-size: 2rem;
//     font-weight: bold;
//     z-index: 10;
//     margin-bottom: 1.5rem;
//     color: #be5504;
//   }

//   &__content-description {
//     margin-bottom: 1.5rem;
//     z-index: 10;
//   }
// }


main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 80vw;
  margin: 0 auto;
}


.banner {
  height: 75vh;
  position: relative;

  &__img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    color: #fff;
    margin-left: 5%;
  }

  &__content-description {
    margin-bottom: 5%;
  }
}