.main {
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  background: radial-gradient(black, transparent);
}

// .body {
//   display: grid;
//   grid-template-rows: 1fr 1fr;
// }

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
