.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.body {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
