<div class="most-voted">
  <%= link_to article_path(@voted_article) do %>
  <%= image_tag(url_for(@voted_article.avatar)) %>
  <%= @voted_article.title %>

  <% end %>
</div>

<div class="category-container">
<% @categories.each do |cat| %>
  <div>
    <%#= link_to 'show', category_path(cat) %>
  </div>
    <% end %>
</div>

