<footer class="footer">
  <div class="footer__start">
    <%= link_to 'MoviesLife', categories_path, class: 'footer__logo' %>
  </div>
  <div class="footer__middle">
    <p>Design by Kevin</p>
  </div>
  <div class="footer__end">
    <span>contact with me:</span>
    <ul class="footer__social">
      <li>
        <a href="https://github.com/kcotrinam" class="footer__social-link">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/kevincotrina/" class="footer__social-link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kcotrinam_dev" class="footer__social-link">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>